

<h4>
	<a href="{{ path('app') }}">Strona Główna</a>
	&nbsp;&nbsp;&nbsp;
	<a href="{{ path('cityList') }}">Moje miasta</a>
	&nbsp;&nbsp;&nbsp;
	<a href="{{ path('weatherSource') }}">Źródło danych</a>
	&nbsp;&nbsp;&nbsp;
	{{ username }}
	
	<a href="{{ path('logout') }}">Logout</a>
</h4>